RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USERNAME=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=fqe.logs
RABBITMQ_PREFETCH=20
RABBITMQ_AUTO_DECLARE=true
RABBITMQ_DURABLE_QUEUE=true

MONGO_CONNECTION_STRING=mongodb://usuario:password@localhost:27017/logsdb?authSource=admin
MONGO_CONNECTION_STRING_DOCKER=mongodb://usuario:password@host.docker.internal:27017/logsdb?authSource=admin
MONGO_DATABASE=logsdb
MONGO_COLLECTION=events
HEALTH_HOST=0.0.0.0
HEALTH_PORT=5190

RECONNECT_DELAY_MS=5000
LOG_LEVEL=info
